/* Use of system font families stolen from Medium */
.title {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

#content {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

/* p and .outline-2 captures content that isn't the toc */
#content p, .outline-2 {
    margin-left: 2%;
    margin-right: 2%;
}

#table-of-contents {
    float: right;
    border: 1px solid #CCC;
    max-width: 50%;
    overflow: auto;
    font-family: monospace;
    background-color: black;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-left: 1em;
}

/* Hide bullets and indent */
#table-of-contents ul {
    list-style-position: inside;
    //list-style: none;
    padding-left: 0px;
}

#table-of-contents a {
    color: #CCC;
}

/* Replace default 'Table of Contents' with preferred title */
#table-of-contents h2 {
    font-size: 1em;
    visibility: hidden;
    line-height: 0;
    text-indent: -9999px;
}
#table-of-contents h2:after {
    visibility: visible;
    content: 'Sections';
    text-indent: 0px;
    display: block;
}

/* Definition lists could do with a bit of spacing */
dd {
    padding-top: 0em;
    padding-bottom: 1em;
}
